%table-standard,
.table-standard {
  @extend .table-condensed, .table-hover, %full-width;
}

.unavailable {
  > td {
    background-color: darken($base-gray-lightest, 5%);
    color: $base-gray;
    text-decoration: line-through;
  }

  &:hover > td {
    background-color: darken($base-gray-lightest, 5%) !important;
  }
}