- if form.errors.any?
  #error_explanation
    %h3
      = pluralize(form.errors.count, "error")
      occurred while trying to save:
    %ul
      - form.errors.full_messages.each do |msg|
        %li= msg