#image-modal.modal.fade{ tabindex: '-1' }
  .modal-dialog.modal-lg
    .modal-content.pos-rel
      %a.ib{ aria_label: "Close", data: { dismiss: "modal" } }
        %img.img{ data: { image_enlarged: true } }