= render 'shared/modal_header', heading: "Edit #{@game.game_name}" , partial: 'form_activation_button', locals_hash: { game: @game }
= render "form", disabled: @game.not_available ? "disabled" : false