.container
  %header
    %h1.h1
      All Games
      %small.thin.light (Readonly)

  %table.table-standard
    %thead
      %tr
        %th= sortable "purchase_date"
        %th= sortable "game_name"
        %th= sortable "system"
        %th Purchase Price
        %th Includes
        %th Alternate Name
        %th Actions
    %tbody
      - @games.each do |game|
        = render "game_line", game: game