.container
  %header
    %aside.right= link_to '« All games', games_path, class: "btn btn-outline"
    %h1.h1= @game.game_name

  %table
    %thead
      %tr
        %th Purchase Date
        %th Game Name
        %th System
        %th Purchase Price
        %th Includes
        %th Alternate Name
        %th Actions
    %tbody= render "game_line", game: @game

  - @game.photos.each do |photo|
    = cl_image_tag photo.path

  #edit-modal.modal.fade
    .modal-dialog.modal-lg
      .modal-content.p1