/*
* Put all default variable overrides for Humble Kit here.
* See humblekit/app/assets/stylesheets/base/_variables.scss for more information
*/

// Access custom site color variables so that they can be used here
@import "site/colors";

$font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-weight-base:  400;
$font-weight-thick: 800;
$font-weight-thin:  300;

$headings-weight: $font-weight-base;


/* Buttons variables
   ========================================================================== */

$btn-border-radius:    0.05rem;
$btn-darken-amount:    15%;

$btn-inset-option:        false;
$btn-border-option:       false;
$btn-radius-option:       true;
$btn-text-shadow-option:  false;
$btn-transition-option:   true;
$btn-hover-bg-option:     true;
$btn-mobile-full-width:   true;
$btn-group-spaced-option: true;