/**
 * Any generic classes that could be part of HumbleKit and aren't specific to this app
 * should go here. Also any classes that extend an existing part of Humble Kit
 *
 * Example:
 * @include btn_style("danger", $base-red);
 */

@include btn_style("danger", $base-red);

%img,
.img {
  max-width: 100%;
  width: auto;
  height: auto;
}